<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="{%static "css/fun.css"%}">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
      <div class="nav navbar-brand">
        <a href="/loc" class="navbar-brand">PARATHAGALI</a>

      </div>
      <ul class="nav navbar-nav" >

        <li> <a href="/home">Home</a></li>
        <li> <a href="/loc">Lcations</a></li>
        <li> <a href="#">Menu</a></li>
        <li> <a href="/v">About Us</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="#">Login</a></li>
        <li> <a href="/con">Contact</a></li>
      </ul>
    </div>
    </nav>
<div class="jumbotron">
 <div class="container">
      <h1>PARANTHE WALI GALI!!!!!</h1>
      <p>It comes back to the basics. serve customers the best-testing food at</p>
      <p> a good value in a clean,comfartable restaurant,and they'll coming back </p>
      <p><a class="btn btn-primary btn-lg" href="/l" role="button">Learn more</a></p>
    </div>
  </div>
  </body>
</html>
